#login-form ion-input {
  --background: whitesmoke;
  --color: black;
  --placeholder-font-color: grey;
  width: 100%;
}
#login-form ion-button {
  margin-right: auto;
  margin-left: auto;
  width: 70px;
  display: block;
}
#login-form {
  margin-top: 50%;
  margin-left: 10%;
  margin-right: 10%;
}